<div *ngIf="!userId">
  <div class="d-flex flex-wrap">
    <div class="col-sm-3 p-3" *ngFor="let user of users">
      <div class="card pointer" routerLink="/users/{{user.id}}">
        <div class="card-header">
          {{user.email}}
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="userId">
  <button (click)="editMode = !editMode" class="btn btn-primary">Edit</button>
  <div class="d-flex py-2">
    <div class="w-25"><strong>Image</strong></div>
    <div class="w-75" *ngIf="user.imageContent && !editMode"><img [src]="url + user.imageContent.contentUrl" width="100" height="100"></div>
    <div class="w-75" *ngIf="!user.imageContent && !editMode"><img src="{{url}}/media/download.png" width="100" height="100"></div>
    <div class="w75" *ngIf="editMode"><input type="file" (change)="onFileSelected($event)"></div>
  </div>
  <div class="d-flex py-2">
    <div class="w-25"><strong>E-mail</strong></div>
    <div class="w-75">
      <input class="form-control" type="text" [(ngModel)]="user.email" [disabled]="!editMode">
    </div>
  </div>
  <div class="d-flex py-2" *ngIf="authenticatedUserService.getUser().id === user.id">
    <div class="w-25"><strong>Password</strong></div>
    <div class="w-75">
      <input class="form-control" type="password" [(ngModel)]="user.password" [disabled]="!editMode">
    </div>
  </div>
  <hr />
  <div class="d-flex" *ngIf="authenticatedUserService.isAdmin()">
    <div class="w-25"><strong>Roles</strong></div>
    <div class="w-75">
      <div *ngFor="let r of roles.roles | keyvalue">
        <div>
          <input class="form-check-inline" type="checkbox" [checked]="isRoleAssigned(user, r.key)" [disabled]="!editMode" (click)="toggleRole(r.key)" />
            {{r.value}}
        </div>
      </div>
    </div>
  </div>
  <button (click)="submit(user)" class="btn btn-primary" [disabled]="!editMode">Submit</button>
</div>
