<div class="d-flex flex-wrap">
  <div class="col-sm-3 px-3" *ngFor="let event of events">
    <div class="card">
      <div class="card-header">
        <h3>
          {{event.name}}
        </h3>
      </div>
      <div class="card-body">
        <pre>
          {{event | json}}
        </pre>
        <div>
          {{event.name}}
        </div>
        <div>
          {{event.dateTime | date}}
        </div>
        <div>
          {{event.owners | json}}
        </div>
        <div>
          {{event.participants | json}}
        </div>
        <div>
          {{event.description}}
        </div>
      </div>
    </div>
  </div>
</div>
